//Primary colors
$primary-green: #b0e62c;
$primary-blue: #00e2f8;
$primary-orange: #ee8932;
$primary-violet: #6c63ff;
$primary-pink: #e45da3;

//General Colors
$background-dark: #2b2d2f;
$background-light-dark: #373c3f;
$background-white: #ffffff;
$background-dark-white: #e1e1e1;
// Mood Gradiants
$depressed-dark: #2d022f;
$depressed-light: #5e0644;

$great-dark: #2e5015;
$great-light: #add448;

$sad-dark: #230b3e;
$sad-light: #564194;

$good-dark: #22b5cd;
$good-light: #2492bf;

$okay-dark: #9c3d2a;
$okay-light: #f2ae24;
